# ======================
# OS
# ======================
.DS_Store

# ======================
# Python (Backend)
# ======================
rag-demo-be/chroma/
.venv/
__pycache__/
*.pyc
*.pyo
.env
.env.*
.pytest_cache/
.mypy_cache/

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
.vite/
*.log

# ======================
# Build / coverage
# ======================
coverage/

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
